* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.7%;
    background: #F9F9FA;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #454343;
    font-size: 1.4rem;
    min-width: 280px;
}

/* --------------------------------------------*/
.top-bar {
    position: fixed;
    height: 60px;
    width: 100%;

    top: 0;
    left: 0;

    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
}

.top-bar-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.home-link-container {
    width: 120px;
    margin-left: 30px;
}

.home-link-container a {
    font-family: 'Ribeye Marrow', cursive;
    color: #454343;

    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
}

.nav-container {
    position: absolute;
    width: 100%;
    top: 0;
    margin: auto;
}

.hamburger {
    border: 0;
    background: transparent;

    position: absolute;
    right: 30px;
    font-size: 2rem;
    line-height: 60px;
}

.nav-menu {
    position: absolute;
    top: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background: #c9cee0;

}

.nav-menu li {
    border-bottom: 1px solid #F5F7F8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
}

.hamburger {
    border: 0;
    background: 0;

    position: absolute;
    right: 20px;
    top: 0px;
    width: 30px;
    height: 30px;
}

.hamburger .hamburger-icon {
    display: none;
}

/*
.hamburger .close-icon {
    display: none;
}
*/

/* --------------------------------------------*/
.top-banner {
    position: absolute;
    top: 60px;
    height: 90px;
    width: 100%;

    display: block;
    background: url(../img/waves.png);
}

.top-banner-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.top-banner .banner-text {
    font-family: 'Ribeye Marrow', cursive;
    color: #454343;
    font-size: 5rem;
    text-align: center;
    line-height: 9rem;
}

/* --------------------------------------------*/
main {
    display: flex;
    width: 100%;
    padding-top: 150px;
}

.main-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tiles {
    display: grid;    
    grid-gap: 20px;

    max-width: 1200px;
    margin-left: 30px;
    margin-right: 30px;
    
    text-align: left;
}

.tiles .tile {
    width: 100%;
}

/*8 tiles*/
.small-tiles {
    grid-template-columns: repeat(8, 1fr);
}

.big-tiles {
    grid-template-columns: repeat(4, 1fr);
}

/*6 tiles*/
@media screen and (max-width: 980px) {
    .small-tiles {
        grid-template-columns: repeat(6, 1fr);
    }
    
    .big-tiles {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*4 tiles*/
@media screen and (max-width: 736px) {
    .small-tiles {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .big-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*2 tiles*/
@media screen and (max-width: 480px) {
    .small-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .big-tiles {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*very small device*/
@media screen and (max-width: 240px) {
    .grid .tile {
        width: 94%;
    }
    
    body {
        font-size: 5vw;
    }

    .top-banner .banner-text {
        font-size: 12vw;
    }
}

/*
box-shadow according to serglo/material-design-shadows.css
link: gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f
*/

.tile {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.tile:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  }

/* --------------------------------------------*/
footer {
    width: 100%;
    min-height: 90px;
    margin-bottom: 0;
    margin-top: 30px;
    background: url(../img/one-wave.png);
}

.footer-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.footer-text {
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 45px;
}

