* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #454343;
    font-size: 1.4rem;
    min-width: 280px;
}

/* --------------------------------------------*/
.top-bar {
    position: fixed;
    height: 60px;
    width: 100%;

    top: 0;
    left: 0;

    background: #FFFFFF;
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.top-bar-content {
    position: relative;
    max-width: 1100px;
    margin: auto;
}

.home-link-container {
    width: 120px;
    margin-left: 3%;
}

.home-link-container a {
    font-family: 'Ribeye Marrow', cursive;
    color: #454343;

    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}

.nav-container {
    position: absolute;
    width: 100%;
    top: 0;
    margin: auto;
}

.hamburger {
    border: 0;
    background: transparent;

    position: absolute;
    right: 3%;
    font-size: 2rem;
    line-height: 60px;
}

/* --------------------------------------------*/
.top-banner {
    position: absolute;
    top: 60px;
    height: 90px;
    width: 100%;

    display: block;
    background: url(../img/lines.png);
}

.top-banner-content {
    position: relative;
    max-width: 1100px;
    margin: auto;
}

.top-banner .banner-text {
    font-family: 'Ribeye Marrow', cursive;
    color: #454343;
    font-size: 5rem;
    text-align: center;
    line-height: 8rem;
}

/* --------------------------------------------*/
main {
    position: absolute;
    top: 160px;
    min-height: 1300px;
    width: 100%;
    display: block;
}

.main-content {
    position: relative;
    max-width: 1100px;
    margin: auto;

}

h2 {
    margin-left: 3%;
    line-height: 1.6rem;
}

main .small-tiles,
main .tiles {
    min-height: 50px;

}

.grid {
    overflow: auto;
    text-align: left;
    margin: 2%;
}


/*8 tiles*/
.grid .tile {
    width: 10%;
    display: inline-block;
    margin: 1%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/*6 tiles*/
@media screen and (max-width: 880px) {
    .grid .tile {
        width: 14%;
    }
}

/*4 tiles*/
@media screen and (max-width: 760px) {
    .grid .tile {
        width: 22%;
    }
}

/*2 tiles*/
@media screen and (max-width: 640px) {
    .grid .tile {
        width: 46%;
    }
}

@media screen and (max-width: 360px) {
    body {
        font-size: 5vw;
    }

    .top-banner .banner-text {
        font-size: 12vw;
    }
}
